.rp-href {
    color: #000000;
	/*text-decoration: none;
	border-bottom: 1px solid #003894;
	padding: 1px;
    font-size: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;*/
}
.rp-table {
	color: #000000;
	border-width: 1px;
	border-color: #C6D1CD;
	border-style: solid;
	border-collapse: collapse;
	width: 95%;
	background-color: #FFFFFF;
	border-width: 0px;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
}
.rp-table thead{
	font-size: 11px;
	white-space: nowrap;
}

.rp-table th {
	text-align:left;
	padding: 4px;
	font-weight: bold;
	background-color: #E9F0FF;
	border-style: solid;
	border-width: 1px;
	border-color: #003894 #bbbbbb;
	border-width: 2px 1px 2px 1px;
}

.rp-table th:last-child {
	border-width: 2px 0px 2px 0px;
}

.rp-table td {
	border-width: 1px;
	border-color: #bbbbbb;
	border-style: solid;
	padding: 4px;


	overflow: hidden;
	text-overflow: ellipsis;
}

.rp-table td:last-child {
	border-width: 1px;
	border-style: solid;
}

.rp-number {
	background-color: #FFFFFF;
	text-align: right !important;
	padding: 4px;
}
.rp-text, .rp-date {
	background-color: #FFFFFF;
	text-align: left;
	padding: 4px 4px 4px 0px;
}

.rp-lastgrouprow td {
	border-width: 1px;
}

.rp-lastgrouprow td:last-child {
	border-width: 1px 0px 1,5px 1px;
	border-color: #C6D1CD #C6D1CD #C6D1CD white;
}

.rp-functionrow td {
	background-color: #FFFFFF;
	font-weight: bold;
	font-style:italic;
	padding: 4 4 30 4;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	color: #000000;
}

.rp-functionrow td:last-child {
	border-width: 0px 0px 0px 0px;
}

